setuptools<58.0.0
cup==3.2.31
nose~=1.3.7
pynose==1.4.8
parameterized
pymysql
nose_xunitmp
flaky==3.7.0
fuzzywuzzy
python-Levenshtein
PyGithub
mysql-connector
trino
pure-sasl
thrift
thrift-sasl
PyHive
timeout_decorator
DBUtils
