---
Checks: >
    -*,
    performance-unnecessary-value-param,
    performance-faster-string-find,
    performance-for-range-copy,
    performance-implicit-conversion-in-loop,
    performance-inefficient-algorithm,
    performance-inefficient-vector-operation
    performance-move-const-arg,
    performance-no-automatic-move,
    performance-no-int-to-ptr,
    performance-trivially-destructible,
    performance-unnecessary-copy-initialization,
    performance-type-promotion-in-math-fn,
    performance-noexcept-move-constructor,
    modernize-use-nullptr,
    modernize-make-shared,
    modernize-make-unique,
    modernize-pass-by-value,
    modernize-use-equals-default,
    modernize-use-equals-delete,
    modernize-replace-auto-ptr,
    modernize-use-default-member-init,
    modernize-use-emplace,
    modernize-raw-string-literal,
    modernize-redundant-void-arg,
    modernize-avoid-bind,
    modernize-loop-convert,
    modernize-replace-random-shuffle,
    modernize-deprecated-headers,
    modernize-deprecated-ios-base-aliases,
    modernize-shrink-to-fit

