[Unit]
Description=StarRocks Backend (BE)
After=network.target

[Service]
Type=simple
User=starrocks
Group=starrocks
RuntimeDirectory=starrocks
Environment="STARROCKS_HOME=/usr/lib/starrocks/be"
ExecStart=/usr/lib/starrocks/be/bin/start_be.sh --daemonize 0
Restart=on-failure
LimitNOFILE=262144
LimitMEMLOCK=infinity
TimeoutStartSec=300
TimeoutStopSec=300

[Install]
WantedBy=multi-user.target
