[Unit]
Description=StarRocks Compute Node (CN)
After=network.target

[Service]
Type=simple
User=starrocks
Group=starrocks
RuntimeDirectory=starrocks
Environment="STARROCKS_HOME=/usr/lib/starrocks/cn"
ExecStart=/usr/lib/starrocks/cn/bin/start_cn.sh
Restart=on-failure
LimitNOFILE=262144
LimitMEMLOCK=infinity

[Install]
WantedBy=multi-user.target
