name: Add Label

on:
  workflow_run:
    workflows: ["Label when reviewed"]
    types: ['requested']
permissions:
  # All other permissions are set to none
  checks: write
  contents: read
  pull-requests: write
  
jobs:
  Approve:
    runs-on: ubuntu-latest
    steps:        
    - name: "Get information about the original trigger of the run"
      uses: potiuk/get-workflow-origin@v1_2
      id: source-run-info
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        sourceRunId: ${{ github.event.workflow_run.id }}

    - uses: dawidd6/action-download-artifact@v2
      with:
        workflow: review-pr-trigger.yml
        pr: ${{ steps.source-run-info.outputs.pullRequestNumber }}
        path: ${{ github.workspace }}

    - name: Read Properties
      id: read_property
      run: cat review/${{ steps.source-run-info.outputs.pullRequestNumber }}

    - name: Label when approved by 2 committers
      uses: actions-ecosystem/action-add-labels@v1
      if: ${{ steps.read_property.outputs.stdout }} == 'true'
      with:
        github_token: ${{ secrets.PAT }}
        labels: approved
        number: ${{ steps.source-run-info.outputs.pullRequestNumber }}

#    - name: Label when approved by 2 committers
#      if: ${{ steps.read_property.outputs.stdout }} == 'true'
#      uses: TobKed/label-when-approved-action@v1.2
#      id: approved
#      with:
#        token: ${{ secrets.GITHUB_TOKEN }}
#        require_committers_approval: 'true'
#        label: 'approved'
#        comment: 'PR approved by at 2 committers and no changes requested.'
#        pullRequestNumber: ${{ steps.source-run-info.outputs.pullRequestNumber }}
        

#    - name: PR comment with reactions
#      uses: thollander/actions-comment-pull-request@v1
#      with:
#        message: |
#          run starrocks_admit_test
#        pr_number: ${{ steps.source-run-info.outputs.pullRequestNumber }}
#        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          
#  - name: Label when approved
#      uses: pullreminders/label-when-approved-action@v1.0.7
#      env:
#        APPROVALS: "2"
#        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#       ADD_LABEL: "Approved"
    
#    - uses: taichi/approved-event-action@master
#      id: approved
#      with:
#        approvals: '2'
#      env:
#        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#        ACTIONS_ALLOW_UNSECURE_COMMANDS: 'true'
        
#    - name: Trigger admit job
#      if: ${{ steps.approved.outputs.isApproved == 'true' }}
#      uses: jabbukka/jenkins-trigger@main
#      with:
#        url: http://39.101.206.100:8090/
#        job_name: starrocks_admit_test
#        user_name: starrocks
#        api_token: 112bc1b04f326123e6668f931a7d26f7dd
#        parameter: '{ "GITHUB_PR_NUMBER": "${{ env.GITHUB_PR_NUMBER }}", "GITHUB_PR_TARGET_BRANCH": "${{ env.GITHUB_PR_TARGET_BRANCH}}" }'
#        wait: "true"
#        timeout: "3600"      
#      env:
#        GITHUB_PR_NUMBER: ${{ steps.source-run-info.outputs.pullRequestNumber }}
#        GITHUB_PR_TARGET_BRANCH: ${{ steps.source-run-info.outputs.targetBranch }}
#        JENKINS_USER: ${{ secrets.JENKINS_USER }}
#        JENKINS_TOKEN: ${{ secrets.JENKINS_TOKEN }}
#        JENKINS_URL: ${{ secrets.JENKINS_URL }}
      
#    - name: trigger jenkins job
#      if: ${{ steps.approved.outputs.approved == 'true' }}     
#      run: |
#        curl --fail -w %{http_code} -I -u starrocks:starrocks@test http://39.101.206.100:8090/job/starrocks_admit_test/buildWithParameters?token=112bc1b04f326123e6668f931a7d26f7dd&GITHUB_PR_NUMBER=8048&GITHUB_PR_TARGET_BRANCH=branch2.2

