name: Trigger Jobs

on:
  pull_request_target:
    types: [synchronize, labeled, reopened]
    paths-ignore:
      - 'docs/**'

jobs:
  Trigger-Admit-Test:
    runs-on: ubuntu-latest
    steps:  
      - name: PR comment
        if: contains(github.event.pull_request.labels.*.name, 'Approved')
        uses: thollander/actions-comment-pull-request@v1
        with:
          message: |
            run starrocks_admit_test
          GITHUB_TOKEN: ${{ secrets.PAT }}
