name: CI PIPELINE - BRANCH

on:
  pull_request_target:
    types:
      - opened
      - synchronize

    branches:
      - 'branch*'

concurrency:
  group: ${{ github.event.number }}
  cancel-in-progress: true

permissions:
  checks: write
  actions: write
  contents: write
  deployments: write
  discussions: write
  issues: write
  packages: write
  pages: write
  pull-requests: write
  repository-projects: write
  security-events: write
  statuses: write

jobs:
  doc-checker:
    runs-on: ubuntu-latest
    name: DOC FILTER
    outputs:
      output1: ${{ steps.doc-changes-info.outputs.doc }}
    steps:
      - uses: dorny/paths-filter@v2
        id: changes
        with:
          filters: |
            doc:
            - 'docs/**'
      - name: DOC CHECK INFO
        id: doc-changes-info
        run: |
          echo "doc=${{ steps.changes.outputs.doc }}" >> $GITHUB_OUTPUT
  add-doc-label:
    needs: doc-checker
    runs-on: ubuntu-latest
    name: ADD DOC LABEL
    if: ${{ needs.doc-checker.outputs.output1 == 'true' }}
    steps:
      - name: add document label
        uses: actions-ecosystem/action-add-labels@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          labels: documentation

  markdownlint:
    runs-on: ubuntu-latest
    needs: add-doc-label
    steps:
      - name: Check out code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: articulate/actions-markdownlint@v1.1.0
        with:
          config: "docs/.markdownlint.yaml"
          files: 'docs/**/*.md'
          ignore: node_modules
          version: 0.28.1

  be-checker:
    runs-on: ubuntu-latest
    name: BE FILTER
    outputs:
      output1: ${{ steps.be-changes-info.outputs.be }}
      output2: ${{ steps.be-changes-info.outputs.thirdparty }}
    steps:
      - uses: dorny/paths-filter@v2
        id: changes
        with:
          filters: |
            be:
            - 'be/**'
            - 'gensrc/**'
            - 'run-be-ut.sh'
            - 'build.sh'
<<<<<<< HEAD
=======
            - 'thirdparty/**'
            - 'docker/dockerfiles/dev-env/dev-env.Dockerfile'
            thirdparty:
            - 'thirdparty/**'
            - 'docker/dockerfiles/dev-env/dev-env.Dockerfile'

>>>>>>> 727619abc ([Tool] build thirdparty image in branch (#22565))
      - name: BE CHECK INFO
        id: be-changes-info
        run: |
          echo "be=${{ steps.changes.outputs.be }}" >> $GITHUB_OUTPUT
<<<<<<< HEAD
=======
          echo "thirdparty=${{ steps.changes.outputs.thirdparty }}" >> $GITHUB_OUTPUT

>>>>>>> 727619abc ([Tool] build thirdparty image in branch (#22565))
  clang-format:
    runs-on: self-hosted
    needs: be-checker
    name: Clang-Format
    if: ${{ needs.be-checker.outputs.output1 == 'true' }}
    steps:
      - name: Clean Workspace
        uses: AutoModality/action-clean@v1.1.0

      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          
      - name: Checkout PR
        uses: dawidd6/action-checkout-pr@v1
        with:
          pr: ${{ github.event.number }}
          
      - name: Run Clang-Format
        run: |
          export PATH=/var/lib/llvm/bin:$PATH
          bash build-support/check-format.sh
<<<<<<< HEAD
=======

  thirdparty-update:
    runs-on: self-hosted
    needs: [ be-checker, clang-format ]
    name: Thirdparty Update
    env:
      PR_NUMBER: ${{ github.event.number }}
      BRANCH: ${{ github.base_ref }}
    outputs:
      ip: ${{ steps.update-image.outputs.ip }}
      instance_id: ${{ steps.update-image.outputs.instance_id }}
      image_cache_id: ${{ steps.update-image.outputs.image_cache_id }}
    steps:
      - name: Clean Workspace
        uses: AutoModality/action-clean@v1.1.0

      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Update Image
        id: update-image
        run: |
          set -ex
          if [[ "${{ needs.be-checker.outputs.output2 }}" == 'true' ]]; then
            rm -rf ./elastic-service
            cp -rf /var/lib/elastic-service ./elastic-service
            cd elastic-service && git pull
            ./bin/elastic-cluster.sh --template thirdparty
            ip=$(grep hosts conf/starrocks_deploy.conf | head -n 1 | awk '{print $NF}')
            instance_id=$(grep instances conf/starrocks_deploy.conf | head -n 1 | awk '{print $NF}')
            echo "ip=${ip}" >> $GITHUB_OUTPUT
            echo "instance_id=${instance_id}" >> $GITHUB_OUTPUT
            sleep 30
            sudo ssh-keygen -f "/root/.ssh/known_hosts" -R "${ip}" || true
            sshpass -p ${{ secrets.PASSWORD }} scp -o StrictHostKeyChecking=no -r bin/elastic-build-thirdparty.sh root@$ip:/home/disk1/
            sshpass -p ${{ secrets.PASSWORD }} ssh -o StrictHostKeyChecking=no root@$ip "cd /home/disk1; ./elastic-build-thirdparty.sh $BRANCH $PR_NUMBER"
            image_cache_id=$(python3 lib/eci_imagecache.py create $BRANCH-$PR_NUMBER)
            echo "image_cache_id=${image_cache_id}" >> $GITHUB_OUTPUT
          fi

      - name: Clean ENV
        if: always()
        run: |
          if [[ "${{ needs.be-checker.outputs.output2 }}" == 'true' ]]; then
              cd elastic-service
              python3 lib/ecs_lib.py delete_instances conf/starrocks_deploy.conf
          fi

>>>>>>> 727619abc ([Tool] build thirdparty image in branch (#22565))
  be-ut:
    runs-on: self-hosted
    needs: [ be-checker, clang-format, thirdparty-update ]
    timeout-minutes: 90
    name: BE UT
    env:
      PR_NUMBER: ${{ github.event.number }}
      BRANCH: ${{ github.base_ref }}
    steps:
      - name: BRANCH INFO
        id: branch
        run: |
          echo ${{github.base_ref}}
          echo "branch=${{github.base_ref}}" >> $GITHUB_OUTPUT
      - name: UPDATE ECI & RUN UT
        id: run_ut
        shell: bash
        timeout-minutes: 90
        run: |
          set -ex
          rm -rf ./elastic-service
          ln -s /var/lib/elastic-service ./elastic-service
          cd elastic-service && git pull
          if [[ "${{ needs.be-checker.outputs.output2 }}" == 'true' ]]; then
              export image_cache_id=${{ needs.thirdparty-update.outputs.image_cache_id }}
              export image_tag=$BRANCH-$PR_NUMBER
          fi
          ./bin/elastic-ut.sh --pr ${PR_NUMBER} --module be --branch ${{steps.branch.outputs.branch}}
      - name: clean ECI
        if: always()
        run: |
          echo ${{ steps.run_ut.outputs.ECI_ID }}
          eci rm ${{ steps.run_ut.outputs.ECI_ID }}
  fe-checker:
    runs-on: ubuntu-latest
    name: FE FILTER
    outputs:
      output1: ${{ steps.fe-changes-info.outputs.fe }}
    steps:
      - uses: dorny/paths-filter@v2
        id: changes
        with:
          filters: |
            fe:
              - 'fe/**'
              - 'gensrc/**'
              - 'run-fe-ut.sh'
              - 'java-extensions/**'
              - 'build.sh'
      - run: echo ${{ steps.changes.outputs.fe }}

      - name: FE CHECK INFO
        id: fe-changes-info
        run: |
          echo "fe=${{ steps.changes.outputs.fe }}" >> $GITHUB_OUTPUT
  fe-codestyle-check:
    runs-on: ubuntu-latest
    needs: fe-checker
    if: needs.fe-checker.outputs.output1 == 'true'
    name: FE Code Style Check
    steps:
      - uses: dorny/paths-filter@v2
        id: java-file
        name: JAVA FILE
        with:
          filters: |
            java:
              - '**.java'
      - run: echo ${{ steps.java-file.outputs.java }}

      - name: "Checkout ${{ github.ref }} ( ${{ github.sha }} )"
        id: checkout
        if: ${{ steps.java-file.outputs.java == 'true' }}
        uses: actions/checkout@v3
        with:
          persist-credentials: false
          submodules: recursive

      - name: Copy checkstyle files
        if: ${{ steps.java-file.outputs.java == 'true' }}
        run: |
          pwd
          cp fe/checkstyle* .
      - name: Run java checkstyle
        if: ${{ steps.java-file.outputs.java == 'true' }}
        uses: dbelyaev/action-checkstyle@v0.6.1
        with:
          workdir: "./fe"
          checkstyle_config: checkstyle.xml
          reporter: 'github-pr-check'
          github_token: ${{ secrets.GITHUB_TOKEN }}
          fail_on_error: true
          level: error
  fe-ut:
    runs-on: [self-hosted]
    needs: fe-codestyle-check
    name: FE UT
    env:
      PR_NUMBER: ${{ github.event.number }}
    steps:
      - name: Clean Workspace
        uses: AutoModality/action-clean@v1.1.0

      - name: BRANCH INFO
        id: branch
        run: |
          echo ${{github.base_ref}}
          echo "branch=${{github.base_ref}}" >> $GITHUB_OUTPUT
      - name: UPDATE ECI & RUN UT
        id: run_ut
        shell: bash
        timeout-minutes: 60
        run: |
          set -ex
          rm -rf ./elastic-service
          ln -s /var/lib/elastic-service ./elastic-service
          cd elastic-service && git pull
          ./bin/elastic-ut.sh --pr ${PR_NUMBER} --module fe --branch ${{steps.branch.outputs.branch}}
      - name: Clean ECI
        if: always()
        run: |
          echo ${{ steps.run_ut.outputs.ECI_ID }}
          eci rm ${{ steps.run_ut.outputs.ECI_ID }}
      - name: UT Report
        uses: mikepenz/action-junit-report@v3
        with:
          check_name: 'FE UT Report'
          detailed_summary: true
          token: ${{ secrets.GITHUB_TOKEN }}
          report_paths: ${{ steps.run_ut.outputs.FE_REPORT_DIR }}/*.xml

<<<<<<< HEAD
      - name: Clean Report
        run: rm -rf ${{ steps.run_ut.outputs.FE_REPORT_DIR }}
=======
      - name: Upload log
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: FE UT LOG
          path: ${{ steps.run_ut.outputs.RES_LOG }}
          retention-days: 1

      - name: Clean ENV
        if: always()
        run: |
          rm -rf ${{ steps.run_ut.outputs.FE_REPORT_DIR }}
          rm -f ${{ steps.run_ut.outputs.RES_FILE }}
          rm -f ${{ steps.run_ut.outputs.RES_LOG }}
          rm -rf ${{ steps.run_ut.outputs.COV_DIR }}
>>>>>>> 727619abc ([Tool] build thirdparty image in branch (#22565))
