name: INSPECTION PIPELINE

on:
  schedule:
    - cron: "0 0 * * 1-5"
    - cron: "30 4 * * 1-5"
    - cron: "30 9 * * 1-5"
    - cron: "0 11 * * 1,3,5"
    - cron: "0 11 * * 2,4"
  workflow_dispatch:
    inputs:
      BRANCH:
        description: 'BRANCH'
        required: true
        type: string
      COMMIT_ID:
        description: 'COMMIT ID'
        required: true
        type: string
      CENTOS_TAR_PATH:
        description: 'TAR PATH(Release & Centos)'
        required: false
        type: string
      UBUNTU_TAR_PATH:
        description: 'TAR PATH(Release & Ubuntu)'
        required: false
        type: string
      INCLUDE_ADMIT:
        description: 'RUN ADMIT?'
        type: boolean
        default: true
      ALL_LINUX:
        description: "ALL_LINUX (Default: Ubuntu+Release)"
        type: boolean
        default: false
      IS_REBUILD:
        description: 'REBUILD'
        type: boolean
        default: false
      WITH_FEATURE_COV:
        description: "GEN FEATURE COV?"
        type: boolean
        default: false
      IS_ARM:
        description: "ARM"
        type: boolean
        default: false
      COV_BASE_COMMIT:
        description: ''
        type: string
        default: ''

permissions:
  checks: write
  actions: write
  contents: write
  deployments: write
  discussions: write
  issues: write
  packages: write
  pages: write
  pull-requests: write
  repository-projects: write
  security-events: write
  statuses: write

env:
  IS_INSPECTION: true
  SHARE_PATH: /var/local/env

jobs:
  info:
    runs-on: [self-hosted, normal]
    name: INFO
    env:
      REPO: ${{ github.repository }}
      GH_TOKEN: ${{ github.token }}
    outputs:
      BRANCH: ${{ steps.param.outputs.BRANCH }}
      PR_NUMBER: ${{ steps.param.outputs.PR_NUMBER }}
      CENTOS_TAR_PATH: ${{ steps.param.outputs.CENTOS_TAR_PATH }}
      UBUNTU_TAR_PATH: ${{ steps.param.outputs.UBUNTU_TAR_PATH }}
      BE_UT_LINUX: ${{ steps.param.outputs.BE_UT_LINUX }}
      ALL_LINUX: ${{ steps.param.outputs.ALL_LINUX }}
      WITH_FEATURE_COV: ${{ steps.param.outputs.WITH_FEATURE_COV }}
      INCLUDE_ADMIT: ${{ steps.param.outputs.INCLUDE_ADMIT }}
      IS_ARM: ${{ steps.param.outputs.IS_ARM }}
    steps:
      - name: CRON PARAM
        id: param
        run: |
          BE_UT_LINUX=ubuntu
          if [[ "${{ github.event_name }}" == "schedule" ]]; then
            rm -rf ./ci-tool && cp -rf /var/lib/ci-tool ./ci-tool && cd ci-tool && git pull
            read branch all_linux IS_ARM < <(python3 scripts/inspection_params.py "${{ github.event.schedule }}")
            
            [[ $((`date +%e` % 2)) -eq 1 ]] && BE_UT_LINUX=centos7
            base_sha=$(gh api /repos/${REPO}/branches/${branch} | jq -r .commit.sha)
            echo "::notice::${branch}(${BE_UT_LINUX} ${base_sha})"
            [[ "${base_sha}" == "null" ]] && (echo "::error::Get HEAD SHA error, please check." && exit -1);
            echo "BRANCH=${branch}" >> $GITHUB_OUTPUT
            echo "PR_NUMBER=${base_sha}" >> $GITHUB_OUTPUT
            echo "ALL_LINUX=${all_linux}" >> $GITHUB_OUTPUT
            echo "INCLUDE_ADMIT=true" >> $GITHUB_OUTPUT
            echo "IS_ARM=${IS_ARM}" >> $GITHUB_OUTPUT
          else
            echo "BRANCH=${{ inputs.BRANCH }}" >> $GITHUB_OUTPUT
            echo "PR_NUMBER=${{ inputs.COMMIT_ID }}" >> $GITHUB_OUTPUT
            echo "CENTOS_TAR_PATH=${{ inputs.CENTOS_TAR_PATH }}" >> $GITHUB_OUTPUT
            echo "UBUNTU_TAR_PATH=${{ inputs.UBUNTU_TAR_PATH }}" >> $GITHUB_OUTPUT
            echo "ALL_LINUX=${{ inputs.ALL_LINUX }}" >> $GITHUB_OUTPUT
            echo "WITH_FEATURE_COV=${{ inputs.WITH_FEATURE_COV }}" >> $GITHUB_OUTPUT
            echo "IS_ARM=${{ inputs.IS_ARM }}" >> $GITHUB_OUTPUT
            echo "INCLUDE_ADMIT=false" >> $GITHUB_OUTPUT
          
            # check cov params
            if [[ "${{ inputs.WITH_FEATURE_COV }}" == "true" && "${{ inputs.COV_BASE_COMMIT }}" == "" ]]; then
              echo "::error::[Coverage] Base commit is missing!"
              exit 1
            fi
          fi
          
          echo "BE_UT_LINUX=${BE_UT_LINUX}" >> $GITHUB_OUTPUT

  build:
    runs-on: [self-hosted, normal]
    name: BUILD
    needs:
      - info
    if: github.event_name == 'schedule' || inputs.IS_REBUILD || inputs.WITH_FEATURE_COV == 'true'
    continue-on-error: true
    strategy:
      fail-fast: false
      matrix:
        build_type: [ Release, ASAN ]
        linux: [ centos7, ubuntu ]
    env:
      BRANCH: ${{ needs.info.outputs.BRANCH }}
      PR_NUMBER: ${{ needs.info.outputs.PR_NUMBER }}
      ALL_LINUX: ${{ needs.info.outputs.ALL_LINUX }}
      WITH_FEATURE_COV: ${{ needs.info.outputs.WITH_FEATURE_COV }}
    steps:
      - name: CLEAN
        run: |
          rm -rf ${{ github.workspace }} && mkdir -p ${{ github.workspace }}

      - name: UPDATE ECI & RUN BUILD
        id: run_build
        shell: bash
        timeout-minutes: 90
        if: (matrix.build_type == 'Release' && matrix.linux == 'ubuntu') || env.ALL_LINUX == 'true'
        run: |
          if [[ "${WITH_FEATURE_COV}" == "true" ]]; then
            export SKIP_SYNC_TAR=true
          fi
          rm -rf ./ci-tool && cp -rf /var/lib/ci-tool ./ci-tool && cd ci-tool && git pull && source lib/init.sh
          ./bin/elastic-build.sh --repository ${{ github.repository }} --branch ${BRANCH} --pr ${PR_NUMBER} \
            --build ${{ matrix.build_type }} --linuxdistro ${{ matrix.linux }} --with-trivy --with-gcov

      - name: BUILD RESULT
        run: |
          echo ${{ steps.run_build.outputs.ABSOLUTE_OUTPUT_TAR }}
          echo "Package: ${{ steps.run_build.outputs.ABSOLUTE_OUTPUT_TAR }}" >> $GITHUB_STEP_SUMMARY
          echo ${{ steps.run_build.outputs.ABSOLUTE_OUTPUT_TAR }} > tar.txt

      - uses: actions/upload-artifact@v4
        with:
          name: BUILD-RESULT-${{ matrix.build_type }}-${{ matrix.linux }}
          path: tar.txt
          retention-days: 1
          overwrite: true

      - name: clean ECI
        if: always()
        run: |
          echo ${{ steps.run_build.outputs.ECI_ID }}
          eci rm ${{ steps.run_build.outputs.ECI_ID }}

      - name: Clean ENV
        if: always()
        run: |
          rm -f ${{ steps.run_build.outputs.RES_FILE }}
          rm -f ${{ steps.run_build.outputs.RES_LOG }}
          rm -rf ${{ github.workspace }}

  docgen:
    runs-on: [self-hosted, normal]
    needs: info
    name: Generate Documentation
    env:
      BRANCH: ${{ needs.info.outputs.BRANCH }}
      PR_NUMBER: ${{ needs.info.outputs.PR_NUMBER }}
    steps:
      # - uses: dorny/paths-filter@v3
      #   id: path-filter
      #   with:
      #     filters: |
      #       be-config:
      #         - 'be/src/common/config.h'
      #       fe-config:
      #         - 'fe/fe-core/src/main/java/com/starrocks/common/Config.java'
      #       variable:
      #         - 'fe/fe-core/src/main/java/com/starrocks/qe/GlobalVariable.java'
      #         - 'fe/fe-core/src/main/java/com/starrocks/qe/SessionVariable.java'
      #       function:
      #         - 'gensrc/script/functions.py'

      - name: init doc-agent
        id: init-doc-agent
        run: |
          pwd
          rm -rf ./ci-tool && cp -rf /var/lib/ci-tool ./ci-tool && cd ci-tool && git pull && ./lib/init_doc.sh
          pwd
          cd ~/ci-tool && ./bin/doc-checkout.sh --repository ${{ github.repository }} --branch ${BRANCH} --pr ${PR_NUMBER}

      - name: FE config 
        id: fe-config-gen
        run: |
          ./ci-tool/bin/run-doc-gen.sh --type fe_config --sr ${{github.repository}} >> $GITHUB_OUTPUT

      - name: BE config 
        id: be-config-gen
        run: |
          ./ci-tool/bin/run-doc-gen.sh --type be_config --sr ${{github.repository}} >> $GITHUB_OUTPUT

      - name: variables 
        id: variables-gen
        run: |
          ./ci-tool/bin/run-doc-gen.sh --type variables --sr ${{github.repository}} >> $GITHUB_OUTPUT

      - name: function 
        id: function-gen
        run: |
          ./ci-tool/bin/run-doc-gen.sh --type function --sr ${{github.repository}} --fe ${FE_NODE} >> $GITHUB_OUTPUT

  Teardown:
    runs-on: [self-hosted, normal]
    name: Teardown
    needs:
      - info
    if: always()
    env:
      BRANCH: ${{ needs.info.outputs.BRANCH }}
      PR_NUMBER: ${{ needs.info.outputs.PR_NUMBER }}
      GH_TOKEN: ${{ github.token }}
      BE_UT_LINUX: ${{ needs.info.outputs.BE_UT_LINUX }}
    steps:
      - name: init
        run: |
          rm -rf ./ci-tool && cp -rf /var/lib/ci-tool ./ci-tool && cd ci-tool && git pull

      - name: Clean
        if: always()
        run: |
          rm -rf ${{ github.workspace }}/*
