name: document
on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
    paths:
      - 'docs/**'

jobs:
  markdownlint:
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

# will be optimized in the near future
#     - name: git diff file list
#       id: diff
#       run : echo "files=$(git diff HEAD HEAD^  --name-only -- '*.md')" >> $GITHUB_OUTPUT

    - name: markdown lint
      uses: nosborn/github-action-markdown-cli@v3.2.0
      with:
        files: docs # ${{ steps.diff.outputs.files }}
