name: title-check

on:
  pull_request_target:
    types:
      - opened
      - reopened
      - edited
      - unlabeled
      - synchronize

jobs:
  pr-title-check:
    runs-on: ubuntu-latest
    steps:
      - uses: thehanimo/pr-title-checker@v1.3.5
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          pass_on_octokit_error: false
          configuration_path: ".github/pr-title-checker-config.json"
