name: Label when check reviewed

on: pull_request_review

jobs:
  label-when-reviewed:
    name: "Label PRs when reviewed"
    runs-on: ubuntu-latest
    steps:              
    - uses: taichi/approved-event-action@v1.2.1
      id: approved
      with:
        approvals: '2'
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        ACTIONS_ALLOW_UNSECURE_COMMANDS: 'true'
        
#     - name: create-file
#       run: |
#         if [[ ${{ steps.approved.outputs.approved }} == 'true' ]]; then
#            echo '${{ steps.approved.outputs.approved }}' >> ${{ github.workspace }}/${{ github.event.pull_request.number }}
#         else
#            echo 'false' >> ${{ github.workspace }}/${{ github.event.pull_request.number }}
#         fi
      
#     - run: echo 'false' >> ${{ github.workspace }}/${{ github.event.pull_request.number }}
#       if: steps.approved.outputs.approved != 'true'
      
#     - uses: actions/upload-artifact@v3
#       with:
#         name: review
#         path: ${{ github.workspace }}/${{ github.event.pull_request.number }}
#         retention-days: 0
