name: testing

on:
  pull_request_target:
    types: [synchronize, labeled, reopened]
    paths-ignore:
      - 'docs/**'

jobs:
  run-admit-test:
    runs-on: ubuntu-latest
    steps:
      - name: PR comment
        if: ${{ github.event.label.name == 'Approved' }}
        uses: thollander/actions-comment-pull-request@v1
        with:
          message: |
            run starrocks_admit_test
          GITHUB_TOKEN: ${{ secrets.PAT }}
